* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    display:block;
    justify-content: center; 
    align-items: center; 
    background-image: url('/img/headerfondo.jpg');
    background-size: auto;
    position: sticky;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    color: rgba(249, 249, 249, 0.93);

}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;    
}

.titulo-logo{
    background-color: inherit;
    margin-right: 30px;
    margin-left: 30px;

}

.titulo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-family: "Fleur de Leah", cursive;
    font-size: 3rem; 
    text-shadow: 
        2px 2px 0px black,  
        -2px -2px 0px black,
        2px -2px 0px black,  
        -2px 2px 0px black;
    
}

.enlaces-contenedor {
    
    padding: 2px;
    /* border: 5px solid red; */
    font-size: 20px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}

.enlaces-contenedor ul{
    margin: 2px;
    padding: 2px;
    /* border: 2px solid black; */
    align-items: center;
    
}

.enlaces-contenedor ul li{
    margin: 2px;
    padding: 2px;
    position: relative;
    display: inline-block;
    margin-right: 20px;    
    text-decoration: none;
    justify-content: center;    
    /* border: 2px solid black; */
    list-style-type: none;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none; 
    color: white; 
    transition: color 0.3s; 
}

nav a:hover {
    color: rgb(72, 177, 198); 
}


.submenu {
    background-color: black;    
    display: none; 
    position: absolute; 
}

.productos:hover + .submenu,
.submenu:hover {
    display: block; 
}

.submenu a {
    background-color: black;
    text-decoration: none; 
    color: white; 
}

.submenu a:hover {
    color: rgb(72, 177, 198); 
}


/* MAIN */
main{
    background-color: rgb(244, 226, 229);
}
section{
    display: flex;
    /* border: 5px solid black; */
    justify-content: center;
    
}

.contenedor-main-img{
    width: 60%; 
    height: 500px; 
    overflow: hidden; 
    background-size: cover; 
    animation: slide 12s infinite; 
    
}

@keyframes slide {
    0% {
        background-image: url('/img/pasteleria4.jpg'); 
    }
    33.33% {
        background-image: url('/img/pasteleria2.jpg'); 
    }
    66.66% {
        background-image: url('/img/pasteleria.jpg');
    }
    100% {
        background-image: url('/img/pasteleria3.jpg'); 
    }
}

.contenedor-main-info{
    display: flex;
    padding: 2px;
    margin: 2px;
    justify-content: space-evenly;
}


.main-info-card{
    padding: 5px;
    margin: 15px;
    /* border: 1px red solid; */
    width: 50%;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-info-card img{
    width: 30px;
    /* border: 1px red solid; */
    margin: 2px;
    padding: 2px;

}

.main-info-card h3{
    /* border: 1px red solid; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.main-info-card p{
    /* border: 1px red solid; */
    text-align: justify;
    font-family:'Courier New', Courier, monospace;
    opacity: 75%;
    padding: -2px;

}

.contenedor-main-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    border-bottom: 50px solid rgb(244, 226, 229);

}

.titulo-destacados{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo-productos{
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo-reseñas{
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.producto-card {    
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    background-color: rgb(246, 246, 246);
}

.producto-card h3{
    font-family: "Yrsa", serif;
    font-size: 25px;
}

.producto-card p{
    font-family: "Yrsa", serif;
    font-size: 25px;
}

.producto-card img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    padding: 10px 20px; 
    margin-top: 10px;
    background-color: #c50138;
    color: white; 
    width: auto;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
button:hover {
    background-color: #470115;
}

main{
    padding: 3px;

}


/* PRODUCTOS */
.contenedor-productos {
    display: flex;
}

.filtros {
    width: 200px; 
    padding: 10px;
    border-right: 3px solid #c1083f; 
}

.filtros h3 {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #480318;
}

.filtros ul {
    list-style-type: none;
    padding: 0;
}

.filtros li {
    margin-bottom: 5px;
    
}

.filtros a {
    text-decoration: none;
    color:#c50138;
}

.filtros a:hover {
    text-decoration: underline; 
}



/* RESEÑAS */
.reseñas {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    /* border: 2px red solid; */
    display: grid;
    
}


.reseñas p{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
       /* border: 2px red solid; */
}


#titulo-reseñas{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 50px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.contenedor-reseñas {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 15px;
    /* border: 2px red solid; */
    
}


.reseñas-card {
    border: 2px solid #94025c;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 5px rgba(7, 7, 7, 0.1);
    opacity: 85%;
    width: 100%;

}

.reseñas-usuario {
    display: flex;
    align-items: center;
    padding: 10px;
}

.usuario-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.reseñas-descripcion {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-img {
    margin-left: 20px;
    width: 100px;
}

.comentarios {
    margin-top: 10px;
}

.publicacion {
    margin-top: 10px;
    color: black;
}






/* FOOTER */
.contenedor{
    display: flex;
    /* border: 1px black solid; */
    justify-content: space-between;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: radial-gradient(circle, #f6f6f6, #f3f3f5, #f0eff4, #edecf4, #eae9f3);
    
}

.items{
    padding: 20px;
    color: rgb(12, 12, 12);
    text-align: left;
    /* border: 1px solid red; */
    width: 50%;
    background-color: rgb(244, 226, 229);;
    
}


footer ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
       
}

footer li {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center; 
    margin-bottom: 10px; 
    text-align: left;
    
}

.alinear {
    display: flex;
    align-items: center; 
    padding-top: 15px;
    padding-left: 15px;

}

.alinear a{
    text-decoration: none;
    color: black;
}

.alinear ul{
    list-style-type: none;
}
.alinear img {
    margin-right: 10px; 
    
}

.grupo-form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin: 20px; 
}
label {
    margin-bottom: 5px;
}
input, textarea, select {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box; 
    margin-bottom: 2px;
}

iframe {

    border: 2px solid black;
}

.control-form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#enviar {
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-top: 45px;
    background-color: #c50138; /* Color de fondo del botón */
    color: white; /* Color del texto */
    width: 30%;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Efecto suave al cambiar de color */
}
#enviar:hover {
    background-color: #470115; /* Color de fondo al pasar el ratón */
}
#button-form{
    align-items: center;
}

.footer-contenedor{
    display: flex;
    padding: 2px;
    justify-content: space-between;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.footer-card{
    width: 100%;
    text-align: center; 
           
}


.footer-card label{
text-decoration: underline;

}

.footer-copyright{
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold   
}

.footer-img {
    display: flex; /* Usar flexbox para alinear imágenes en fila */
    justify-content: center; /* Centrar las imágenes horizontalmente */
    flex-wrap: wrap; /* Permitir que las imágenes se ajusten en múltiples líneas si es necesario */
    gap: 10px; /* Espacio entre las imágenes */
    padding: 10px 0; /* Espaciado superior e inferior */
}

.footer-img img {
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}

footer{
    padding: 3px;
    border-top: 6px solid rgb(122, 118, 118);
    background-color: #f4f0f0;
    color: rgb(33, 31, 31);
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
        align-items: center;
    }
    
    .contenedor-main-info{
        flex-direction: column;
        align-items: center; 
    }

    .items {
        width: 100%;
    }

    iframe{
        align-items: center;
        width: 100%;
        height: auto;
    }

    .footer-contenedor{
        flex-direction: column;
    }

    button {
        width: 100%; 
        margin-top: 20px; 
    }

    nav{
        flex-direction: column; 
        align-items: center; 
    }

    .contenedor-reseñas {
        grid-template-columns: 1fr; 
      }


}

@media (max-width: 480px) {
    .contenedor {
        flex-direction: column; 
        align-items: center; 
    }
    
    .contenedor-main-info{
        flex-direction: column; 
        align-items: center; 
    }

    .enlaces-contenedor{
        font-size: 10px;
    }

    .items {
        width: 100%;
    }

    iframe{
        align-items: center;
        width: 100%;
        height: auto;
    }

    .footer-contenedor{
        flex-direction: column;
    }

    button {
        width: 100%; 
        margin-top: 20px;
    }

    nav{
        flex-direction: column; 
        align-items: center;
    }

    .contenedor-reseñas {
        grid-template-columns: 1fr;
    }    

}